<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>main-header</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:fragment="audit" class="modal fade bs-example-modal-lg" id="modal_audit" tabindex="-1" role="dialog"
         aria-labelledby="audit_title"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="audit_title">审核框</h4>
                </div>
                <div class="modal-body table-cell-textarea" id="audit_body">
                    <table id="table_audit"></table>
                    <div id="div_audit_comment" class="form-group form-group-sm"
                         style="margin-top: 10px">
                        <label class="col-sm-2 control-label">审核意见</label>
                        <div class="col-sm-10">
                             <textarea id="audit_comment" type="text"
                                       class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group form-group-sm" style="margin-top: 10px;padding-top: 10px">
                        <button id="audit_allow" type="button" class="btn btn-success">
                            审核通过
                        </button>
                        <button id="audit_deny" type="button" class="btn btn-danger">
                            审核不通过
                        </button>
                        <button id="audit_cancel" type="button" class="btn btn-primary" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function editAudit(txt_title, type, func_allow, func_deny) {
                $('#audit_title').text(txt_title);

                if (type == 'view') {
                    $('#div_audit_comment').hide();
                    $('#audit_deny').hide();
                    $('#audit_allow').hide();
                    return;
                } else {
                    $('#div_audit_comment').show();
                    $('#audit_deny').show();
                    $('#audit_allow').show();
                }

                $("#audit_allow").unbind();
                $('#audit_allow').on('click', function () {
                    func_allow();
                });

                $("#audit_deny").unbind();
                $('#audit_deny').on('click', function () {
                    func_deny();
                });
            }

            function showAudit() {
                var modal = $('#modal_audit');
                modal.modal({
                    keyboard: true,
                    backdrop: 'static'
                })
            }

            function hideAudit() {
                $('#modal_audit').modal('hide');
            }
        </script>
    </div>


</div>


</body>
</html>
