.wrapper {
    background-color: #ecf0f5;
}

.content-wrapper {
    margin-left: 0px;
}

#content-header-h1 {
    cursor: pointer;
}

/*zTree下拉框样式*/
.menuContent {
    display: none;
    position: absolute;
    border-color: #829dd2;
    z-index: 10;
}

.form-group-rm {
    margin: 0 !important;
}


